ul.contacts{padding: 0px; overflow: auto; margin-top:0px;margin-bottom:5px;margin-left: inherit; margin-right: inherit; border-style: solid; border-width: 1px; border-color: #C6C6C6; background: inherit; cursor:text; min-height:32px;}
ul.contacts li{display: block; float: left; margin: 2px 2px; list-style-type: none; height:24px;}
ul.contacts li.contact {-moz-border-radius: 3px; border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #d9d9d9; background: none; background-color: #f5f5f5; font-weight: normal; padding:1px 3px; }
ul.contacts li.contact.invalid {border:solid 1px white;background:none;background-color:none;}
ul.contacts li.new-contact textarea{background-color: #fff;  border-style: none; border-width: 0px; width: 100px;padding:4px 0px;margin-left:0px; outline:none;overflow:hidden;resize:none;}
ul.contacts li.contact span {font-size:14px; line-height: 24px; zoom:1;vertical-align: middle;font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif;}
ul.contacts li.contact.invalid span.contact-label {border-bottom:2px dotted #d14836;}
ul.contacts li.contact span.close {text-decoration: none; padding-left:5px; cursor:pointer; text-align: center; text-shadow: rgb(255, 255, 255) 0px 1px 0px; line-height: 24px; height: 24px; font-size: 18px; vertical-align: middle; font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif; }
.ui-helper-hidden-accessible{display:none;height:0px;width:0px;line-height: 0px;visibility: hidden;}
/* Forked from a jQuery UI theme, so that we don't require the jQuery UI CSS as a dependency. */
/* 从jquery-tagit那里拷贝过来的 */
.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {list-style:none; padding: 4px 0px; margin: 0; display:block; float: left;max-height:300px;overflow-y:auto;overflow-x:hidden; }
.ui-menu .ui-menu-item {margin:0; padding: 0; zoom: 1; float: left; clear: left; min-width:140px; width: 100%; }
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.3;
  zoom:1;
  font-size: 14px;
  font-weight: bold;
  font-family: arial, sans-serif, 'Microsoft YaHei';
}
.ui-menu .ui-menu-item a span {font-weight: normal;font-size:13px;color:#777;}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff 50% 50% repeat-x; color: #222222; }
.ui-state-hover,  .ui-state-focus { background: #eee; font-weight: normal; color: #212121; }
.ui-state-active  { border: 1px solid #aaaaaa; }
.ui-widget-content { border: 1px solid #aaaaaa; }
.contact-tag .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px,1px,1px,1px); }
